.row, .col {
    margin: 0px;
}

.code {
    cursor: pointer;
    font-size: 15px;
}

#code-panels {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#code-panels .panel {
    flex-basis: 40%;
}

.highlite {
    background-color: #FFFFAA;
}

.selected {
    background-color: #FF0000;
}
